.HomeContainer-wrapper{
    display: grid;
    grid-template-columns: 1fr;

    border-style: inset;
    border-radius: 1px;
    border-width: 80px;

    height: 100vh;
    width: auto;
    object-fit: cover;

    .HomeContainer-gallery {
        background-size: cover;

        .HomeContainer-left-button {
            display: flex;
    
            .scroll-left {
                justify-content: center;
                align-items: left;
                padding-top: 500px;
            }
        }
        .HomeContainer-right-button {
            display: flex;
    
            .scroll-right {
                justify-content: center;
                align-items: right;
                float: right;
            }
        }
    }

}