.Navbar {
  display: grid;
  grid-template-rows: 1fr;

  .Navbar-links-wrapper {
    padding-top: 10px;

    .Navbar-links a {
      float: center;
  
    }

  .Right-side {
    float: right;
    }
  }
  
}





  